#
# cache.config
#
# Documentation:
#    https://docs.trafficserver.apache.org/en/latest/admin-guide/files/cache.config.en.html
#
# The purpose of this file is to alter caching parameters of
#   specific objects or sets of objects
#
# Each line consists of a set of tag value pairs.  The pairs
#   are in the format  <tag>=<value>
#
# Each line must include exactly one primary specifier
#
#   Primary destination specifiers are
#     dest_domain=
#     dest_host=
#     dest_ip=
#     url_regex=
#
#
# Lines may include any number of the secondary specifiers but
#    secondary specifiers may not be duplicated on the same line
#
#   Secondary specifiers are
#     port=
#     scheme=
#     prefix=
#     suffix=
#     method=
#     time=
#     src_ip=
#     internal={true,false}
#
# Each line must include exactly one cache directive
#   Cache directives are
#     action=never-cache
#     action=ignore-no-cache          (client & server no cache)
#     action=ignore-client-no-cache   (only client no cache)
#     action=ignore-server-no-cache   (only server no cache)
#     pin-in-cache=<time>
#     revalidate=<time>
#     ttl-in-cache=<time>             (force caching and expire after <time>)
#
# Each line may also contain various "tweaks" which adjust caching parameters.
#   Tweaks are
#     cache-responses-to-cookies=<value>
#       - Change the style of caching with regard to cookies. This effectively
#         overrides the configuration parameter
#           proxy.config.http.cache.cache_responses_to_cookies
#         and uses the same values with the same semantics. The override happens
#         only for requests that match.
#
# Examples
#
#  Revalidate all http objects from www.example.com after 2 hours 
#    dest_domain=www.example.com   scheme=http  revalidate=2h
dest_host=103.70.226.126   suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=45.125.218.122  suffix=gif suffix=mp4 suffix=swf suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=45.125.218.123  suffix=gif suffix=mp4 suffix=swf suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=45.125.218.124  suffix=gif suffix=mp4 suffix=swf suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.133  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.139  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=110.92.66.134  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.79.175  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.79.145  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.79.152  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.79.169  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.52.144.72  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.230.141.153  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=183.56.168.145  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=116.62.68.140  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=182.255.61.221  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=146.88.86.86  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=146.88.85.60  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.90.98.83  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico  suffix=css  suffix=htm revalidate=2h
dest_host=103.193.173.109  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.193.173.43  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.59.40.58  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=183.60.200.162  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=119.92.130.10  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=183.2.207.119  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=183.2.207.115  suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.79.151 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.169 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.171 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.90.98.83 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.100.209.45 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.243.183.4 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.52.108.44 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h

dest_host=103.254.209.7 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.224 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=113.141.64.70 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.223 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.187 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.196 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.243.182.198 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=45.112.205.57 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.31.107 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.31.104 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=110.92.64.185 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=45.77.182.35 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.89 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.176 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.99 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.254.209.46 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=116.206.178.164 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=122.128.111.211 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.254.209.72 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.254.209.68 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=14.152.84.112 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.254.209.142 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.254.209.226 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.70.226.207 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=110.92.64.13 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.193.172.143 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=45.58.187.242 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=104.160.160.18 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.243.183.5 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.243.183.21 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.52.200.234 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=183.2.207.173 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.91.246.131 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.74.241.175 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.91.236.125 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=47.52.207.25 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.79.168 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.70.226.74 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.193.175.160 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=203.69.59.201 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.193.172.3 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.20.193.55 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.94.77.245 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=110.92.66.133 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.168 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.131 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.249.30.130 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=43.230.141.120 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=103.193.175.143 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h
dest_host=180.188.196.126 suffix=gif suffix=jpg suffix=jpeg suffix=png suffix=bmp suffix=swf suffix=ico   suffix=css  suffix=htm revalidate=2h

