#澳亚活动规则
map      http://18188635290.com  	http://124.156.185.25  
map      http://www.18188635290.com     http://124.156.185.25



#澳亚视频教程
map 	 https://m6js.com               http://45.125.218.122
map 	 https://www.m6js.com           http://45.125.218.122
redirect http://m6js.com       		https://m6js.com
redirect http://www.m6js.com    	https://www.m6js.com



#澳亚优惠活动后台
map 	 https://ccdrg.com           	http://124.156.185.25
map 	 https://www.ccdrg.com       	http://124.156.185.25
redirect http://www.ccdrg.com   	https://www.ccdrg.com
redirect http://ccdrg.com       	https://ccdrg.com

#澳亚优惠活动前台
map 	 https://xingmma.com         	http://124.156.185.25
map 	 https://www.xingmma.com     	http://124.156.185.25
redirect http://xingmma.com     	https://xingmma.com
redirect http://www.xingmma.com 	https://www.xingmma.com

map 	 https://xingmim.com         	http://124.156.185.25
map 	 https://www.xingmim.com    	http://124.156.185.25
redirect http://xingmim.com     	https://xingmim.com
redirect http://www.xingmim.com 	https://www.xingmim.com

#澳亚红包雨
map  	 https://red.xingmma.com    	http://124.156.185.25
map  	 https://adm.xingmma.com    	http://124.156.185.25
map  	 http://red.xingmim.com     	http://124.156.185.25
map  	 http://adm.xingmim.com     	http://124.156.185.25

redirect http://adm.xingmma.com 	https://adm.xingmma.com
redirect http://red.xingmma.com 	https://red.xingmma.com


#澳亚导航站
redirect http://9661f.com         https://9661f.com
redirect http://www.9661f.com     https://www.9661f.com
map  https://9661f.com     http://45.125.218.123
map  https://www.9661f.com http://45.125.218.123

map https://7001a.com         http://45.125.218.123
map https://7001c.com         http://45.125.218.123
map https://9661g.com         http://45.125.218.123
map https://ay345.com         http://45.125.218.123
map https://aoya333.com         http://45.125.218.123
map https://059265.com         http://45.125.218.123
map https://js01.com         http://45.125.218.123
map https://1314bc.com         http://45.125.218.123
map https://amjsjs.com         http://45.125.218.123
map https://js667788.com         http://45.125.218.123
map https://amjso.com         http://45.125.218.123
map https://amjsp.com         http://45.125.218.123

map https://www.7001a.com         http://45.125.218.123
map https://www.7001c.com         http://45.125.218.123
map https://www.9661g.com         http://45.125.218.123
map https://www.ay345.com         http://45.125.218.123
map https://www.aoya333.com         http://45.125.218.123
map https://www.059265.com         http://45.125.218.123
map https://www.js01.com         http://45.125.218.123
map https://www.1314bc.com         http://45.125.218.123
map https://www.amjsjs.com         http://45.125.218.123
map https://www.js667788.com         http://45.125.218.123
map https://www.amjso.com         http://45.125.218.123
map https://www.amjsp.com         http://45.125.218.123

redirect http://7001a.com            https://7001a.com
redirect http://7001c.com            https://7001c.com
redirect http://9661g.com            https://9661g.com
redirect http://ay345.com            https://ay345.com
redirect http://aoya333.com          https://aoya333.com
redirect http://059265.com           https://059265.com
redirect http://js01.com             https://js01.com
redirect http://1314bc.com           https://1314bc.com
redirect http://amjsjs.com           https://amjsjs.com
redirect http://js667788.com         https://js667788.com
redirect http://amjso.com            https://amjso.com
redirect http://amjsp.com            https://amjsp.com

redirect http://www.7001a.com        https://www.7001a.com
redirect http://www.7001c.com        https://www.7001c.com
redirect http://www.9661g.com        https://www.9661g.com
redirect http://www.ay345.com        https://www.ay345.com
redirect http://www.aoya333.com      https://www.aoya333.com
redirect http://www.059265.com       https://www.059265.com
redirect http://www.js01.com         https://www.js01.com
redirect http://www.1314bc.com       https://www.1314bc.com
redirect http://www.amjsjs.com       https://www.amjsjs.com
redirect http://www.js667788.com     https://www.js667788.com
redirect http://www.amjso.com        https://www.amjso.com
redirect http://www.amjsp.com        https://www.amjsp.com


#澳亚代理页面
redirect     http://aoya33.com           https://aoya33.com
redirect     http://www.aoya33.com       https://www.aoya33.com
map          https://aoya33.com          http://45.125.218.122
map          https://www.aoya33.com      http://45.125.218.122
map          http://proxy.aoya33.com     http://45.125.218.122

redirect     http://aoya55.com           https://aoya55.com
redirect     http://www.aoya55.com       https://www.aoya55.com
map          https://aoya55.com          http://45.125.218.122
map          https://www.aoya55.com      http://45.125.218.122
map          http://proxy.aoya55.com     http://45.125.218.122



#澳亚劫持页面
map https://92912.com 	      	http://45.125.218.125
map https://www.92912.com     	http://45.125.218.125
redirect http://92912.com     	https://92912.com 
redirect http://www.92912.com 	https://www.92912.com 

map https://quyn03.com 	        http://45.125.218.125
map https://www.quyn03.com   	http://45.125.218.125
redirect http://quyn03.com      https://quyn03.com 
redirect http://www.quyn03.com  https://www.quyn03.com 


#非凡导航站
map             https://www.ff8999.com   http://159.138.43.207
map             https://ff8999.com       http://159.138.43.207
redirect        http://ff8999.com     	 https://ff8999.com
redirect        http://www.ff8999.com  	 https://www.ff8999.com
map             https://www.ff0666.com   http://159.138.43.207
map             https://ff0666.com       http://159.138.43.207
redirect        http://ff0666.com        https://ff0666.com
redirect        http://www.ff0666.com    https://www.ff0666.com




##非凡活动域名





##龙门导航站
map           https://lm861.com        http://159.138.48.13
map           https://www.lm861.com    http://159.138.48.13
redirect      http://lm861.com         https://lm861.com
redirect      http://www.lm861.com     https://www.lm861.com

map           https://lm656.com        http://159.138.48.13
map           https://www.lm656.com    http://159.138.48.13
redirect      http://lm656.com         https://lm656.com
redirect      http://www.lm656.com     https://www.lm656.com

##龙门app
map           https://lm332.com        http://119.28.8.239
map           https://www.lm332.com    http://119.28.8.239
redirect      http://lm332.com         https://lm332.com
redirect      http://www.lm332.com     https://www.lm332.com

###龙门活动域名


###龙门云闪付帮助
map           https://lm850.com        http://159.138.48.13
map           https://www.lm850.com    http://159.138.48.13
redirect      http://lm850.com         https://lm850.com
redirect      http://www.lm850.com     https://www.lm850.com

#龙门防劫持帮助
map           https://lm112.com        http://159.138.48.13
map           https://www.lm112.com    http://159.138.48.13
redirect      http://lm112.com         https://lm112.com
redirect      http://www.lm112.com     https://www.lm112.com


###app下载帮助
map           https://lm857.com        http://159.138.48.13
map           https://www.lm857.com    http://159.138.48.13
redirect      http://lm857.com         https://lm857.com
redirect      http://www.lm857.com     https://www.lm857.com

#龙门支付宝微信支付帮助
map           https://lm780.com        http://159.138.48.13
map           https://www.lm780.com    http://159.138.48.13
redirect      http://lm780.com         https://lm780.com
redirect      http://www.lm780.com     https://www.lm780.com

map           https://lm790.com        http://159.138.48.13
map           https://www.lm790.com    http://159.138.48.13
redirect      http://lm790.com         https://lm790.com
redirect      http://www.lm790.com     https://www.lm790.com



#######快捷支付域名解析#######
##澳亚前台
redirect     http://7001.com           https://7001.com
redirect     http://www.7001.com       https://www.7001.com
redirect     http://7001hp.com         https://7001hp.com 
redirect     http://www.7001hp.com     https://www.7001hp.com
map          https://7001.com          http://43.249.30.130
map          https://www.7001.com      http://43.249.30.130
map          https://7001hp.com        http://43.249.30.130
map          https://www.7001hp.com    http://43.249.30.130
##澳亚后台
redirect     http://jsmw672.com         https://jsmw672.com
redirect     http://www.jsmw672.com     https://www.jsmw672.com
redirect     http://51pphzp.com         https://51pphzp.com 
redirect     http://www.51pphzp.com     https://www.51pphzp.com
map          https://jsmw672.com        http://43.249.30.131
map          https://www.jsmw672.com    http://43.249.30.131
map          https://51pphzp.com        http://43.249.30.131
map          https://www.51pphzp.com    http://43.249.30.131

redirect     http://www.iychen.com 	https://www.iychen.com
redirect     http://iychen.com 		https://www.iychen.com
map 	     https://iychen.com		http://43.249.30.139
map          https://www.iychen.com 	http://43.249.30.139



#澳亚财务后台与爬虫otp通信
redirect ws://yjv5.com wss://yjv5.com
redirect ws://www.yjv5.com wss://www.yjv5.com
map  wss://www.yjv5.com ws://119.28.57.62:2346
map  wss://yjv5.com ws://119.28.57.62:2346


##非凡前台
redirect     http://ff0880.com         https://ff0880.com
redirect     http://www.ff0880.com     https://www.ff0880.com
map          https://ff0880.com        http://47.75.47.216
map          https://www.ff0880.com    http://47.75.47.216
##非凡后台
redirect     http://zf.ff0880.com     https://zf.ff0880.com
map          https://zf.ff0880.com   http://47.75.47.216

##龙门前台
redirect     http://lm783.com         https://lm783.com
redirect     http://www.lm783.com     https://www.lm783.com
map          https://lm783.com        http://47.52.241.55
map          https://www.lm783.com    http://47.52.241.55

##龙门后台
redirect     http://hmzuo.com         https://hmzuo.com
redirect     http://www.hmzuo.com     https://www.hmzuo.com
map          https://hmzuo.com        http://47.52.241.55
map          https://www.hmzuo.com    http://47.52.241.55

#龙门财务后台与爬虫otp通信
redirect ws://lm660.com wss://lm660.com
redirect ws://www.lm660.com wss://www.lm660.com
map  wss://www.lm660.com ws://124.156.178.18:2346
map  wss://lm660.com ws://124.156.178.18:2346


#YaBoDH
redirect     http://wb0899.com         https://wb0899.com
redirect     http://www.wb0899.com     https://www.wb0899.com
map          https://wb0899.com        http://180.188.196.126
map          https://www.wb0899.com    http://180.188.196.126
