map      http://dlcai05.com 	       	http://45.192.118.122
map      http://www.dlcai05.com  	   http://45.192.118.122


map      https://aoya22.com            http://45.192.118.122
map      https://www.aoya22.com        http://45.192.118.122
redirect http://aoya22.com             https://aoya22.com
redirect http://www.aoya22.com         https://www.aoya22.com


